<div class="container">
  <div class="chat my-5 py-3 chat" [class.chat-show]="!showChatBox">
    <div class="chat-header clearfix">
      <img
        [src]="selectedUser?.photo"
        alt="avatar"
        width="40"
        height="40"
        style="border-radius: 50%"
      />

      <div class="chat-about">
        <div class="chat-with">{{ selectedUser?.name }}</div>
        <div class="chat-num-messages">
          {{ usersConversation.length }} Messages
        </div>
      </div>
      <i class="fa fa-star"></i>
    </div>
    <!-- end chat-header -->

    <div class="chat-history">
      <ul style="list-style-type: none;">
        <li class="clearfix" *ngFor="let message of usersConversation">
          <div class="message-data align-right">
            <!-- <span class="message-data-time" >{{message.date}}</span> &nbsp; &nbsp; -->
            <span class="message-data-name mr-2">{{ message.senderName }}</span>
            <i class="fa fa-circle me"></i>
          </div>
          <div class="message other-message float-right">
            {{ message.text }}
          </div>
        </li>
      </ul>
    </div>
    <!-- end chat-history -->

    <div class="chat-message clearfix">
      <textarea
        name="message-to-send"
        id="message-to-send"
        #msgRef
        placeholder="Type your message"
        rows="3"
      ></textarea>

      <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
      <i class="fa fa-file-image-o"></i>

      <button (click)="addMessage()">Send</button>
    </div>
    <!-- end chat-message -->
  </div>
  <!-- end chat -->
  <div class="people-list" id="people-list">
    <!-- <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div> -->
    <ul class="list p-0">
      <li
        class="clearfix user__list__li pt-3 pl-2"
        *ngFor="let user of usersList"
        (click)="onUserClicked(user)"
      >
        <img
          [src]="user.photo"
          alt="avatar"
          width="40"
          height="40"
          style="border-radius: 50%"
        />
        <div class="about">
          <div class="name">{{ user.name }}</div>
          <!-- <div class="status"><i class="fa fa-circle online"></i> online</div> -->
        </div>
      </li>
    </ul>
  </div>





  <!-- Group Chat Section -->

  <div class="group-chat my-5 py-3 chat" [class.group-chat-show]="!showGroupChatBox">
    <div class="chat-header clearfix">
      <img
        [src]="selectedGroup?.photo"
        alt="avatar"
        width="40"
        height="40"
        style="border-radius: 50%"
      />

      <div class="chat-about">
        <div class="chat-with">{{ selectedGroup?.name }}</div>
        <div class="chat-num-messages">
          {{ groupConversation.length }} Messages
        </div>
      </div>
      <i class="fa fa-star"></i>
    </div>
    <!-- end chat-header -->

    <div class="chat-history">
      <ul style="list-style-type: none;">
        <li class="clearfix" *ngFor="let message of groupConversation">
          <div class="message-data align-right">
            <!-- <span class="message-data-time" >{{message.date}}</span> &nbsp; &nbsp; -->
            <span class="message-data-name mr-2">{{ message.senderName }}</span>
            <i class="fa fa-circle me"></i>
          </div>
          <div class="message other-message float-right">
            {{ message.text }}
          </div>
        </li>
      </ul>
    </div>
    <!-- end chat-history -->

    <div class="chat-message clearfix">
      <textarea
        name="message-to-send"
        id="message-to-send"
        #groupMsgRef
        placeholder="Type your message"
        rows="3"
      ></textarea>

      <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
      <i class="fa fa-file-image-o"></i>

      <button (click)="addMessageToGroup()">Send</button>
    </div>
    <!-- end chat-message -->
  </div>
  <div class="groups-list" id="groups-list">
    <!-- <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div> -->
    <ul class="list p-0">
      <li
        class="clearfix user__list__li pt-3 pl-2"
        *ngFor="let group of groupsList"
        (click)="onGroupClicked(group)"
      >
        <img
          [src]="group.photo"
          alt="avatar"
          width="40"
          height="40"
          style="border-radius: 50%"
        />
        <div class="about">
          <div class="name">{{ group.name }}</div>
          <!-- <div class="status"><i class="fa fa-circle online"></i> online</div> -->
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- end container -->
